{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>All redactors <a style="float: right" href="{% url "agency:redactor-create" %}">+</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for redactor in redactor_list %}
      	<tr>
          <td>{{ redactor.id }}</td>
          <td>{{ redactor.username }}</td>
          <td><a href="{% url "agency:redactor-update" redactor.id %}">Update</a></td>
          <td><a href="{% url "agency:redactor-delete" redactor.id %}">Delete</a></td>
        </tr>
      {% endfor %}
      
    </table>
  {% endif %}
{% endblock %}
