body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
    color: white;
}

.list-group-item {
    background-color: #fff;
    border-color: #dee2e6;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffc107; /* Change color on hover */
}
.text-yellow {
  color: #ffc107; /* Жовтий колір */
}

.fa-stack:hover .fa-inverse {
    filter: brightness(1.5);
}
a {
    color: rgb(128, 128, 128); /* or any other color you want to use */
    text-decoration: none; /* remove underline if needed */
}