<footer style="background-color: #007bff;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center social-icons">
                    <li class="list-inline-item">
                      <a href="mailto:avstralopitek71@gmail.com">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="far fa-envelope fa-stack-1x fa-inverse text-white"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/shum430">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="fab fa-twitter fa-stack-1x fa-inverse text-white"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/profile.php?id=100008973965435">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="fab fa-facebook-f fa-stack-1x fa-inverse text-white"></i>
                        </span>
                     </a>
                    </li>
                     <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/andriy-shumskyy-52426a260/">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="fab fa-linkedin fa-stack-1x fa-inverse text-white"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/Shum430">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="fab fa-github fa-stack-1x fa-inverse text-white"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://instagram.com/shum430">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x text-yellow"></i>
                          <i class="fab fa-instagram fa-stack-1x fa-inverse text-white"></i>
                        </span>
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>